body {
   font-family: 'Kantumruy_Pro', sans-serif;
}
@font-face {
   font-family: 'Kantumruy_Pro';
   src: url(../font/KantumruyPro-Regular.ttf);
}
.sidebar {
   height: 100vh;
   width: 250px;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #343a40;
   padding-top: 20px;
}

.sidebar a {
   color: #ffffff;
}

.content {
   margin-left: 250px;
   padding: 20px;
}

.form-inline {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.form-inline label {
   margin-right: 10px;
   color: green;
}

.form-inline input[type="text"],
.form-inline input[type="email"] {
   margin-right: 10px;
   width: 200px;
}

.form-inline .btn-success {
   margin-left: 10px;
}

.table th {
   background-color: green;
   color: white;
   text-align: center;
}

.table td {
   vertical-align: middle;
   text-align: center; /* Ensure the content is centered */
}

.btn-edit {
   background-color: navy;
   color: white;
}

.btn-delete {
   background-color: red;
   color: white;
}

.btn-update, .btn-cancel {
   margin-top: 20px;
}

.btn-update {
   background-color: blue;
   color: white;
}

.btn-cancel {
   background-color: red;
   color: white;
}

.ml-250 {
   margin-left: 250px;
}

.btn-width {
   width: 8%;
   height: 40px;
}
.btn-action{
   width: 60px;
   height: 40px;
}
.email-col{
   width: 40%; /* Adjust the percentage as needed */
}
.action-col{
   width: 15%;
}
.id-col{
   width: 10%;
   color: red;
   font-weight: bold;
}
.transition{
   transition: all ease 1.2s;
}

.icon-frame{
   width: 20px;
   height: 20px;
   margin-right: 20px;
}
.pointer{
   cursor: pointer;
 }
.nav-link.active {
   background-color: #fff;  /* Example: blue background */
   color: white !important;    /* Example: white text */
   font-weight: bold;          /* Example: bold text */
}
.user-count {
   color: white;
   font-size: 1.2em;
   font-weight: bold;
 }

#searchInput {
   width: 300px;
}
.search-transition {
   width: 0;
   opacity: 0;
   transition: width 0.5s ease, opacity 0.5s ease;
}
.icon-frame-25{
   width: 30px;
   height: 25px;
}
.dropdown-menu {
   z-index: 9999; /* Ensure it is high enough */
}
.z-10000{
   z-index: 10000; /* Ensure it is below other elements */
}
#z--1{
   z-index: -1;
}

.sticky-top{
   z-index: 0;
}